/*cabezera*/

#cabezera {
  background-color: black;
  color: #f7f0fa;
}

.nombre {
  text-decoration: underline dashed;
}
#btnCV:hover {
  transform: scale(1.25);
}
.icons {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  justify-content: space-between;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: blueviolet;
}

.skills {
  display: flex;
  align-items: flex-end;
}

#html {
  color: #e46231;
}

#css {
  color: #0c6cad;
}

#js {
  color: #eab120;
}

#bootra{
  color: #553473;
}
#github {
  color: #474747;
}
#sql {
  color: #1500ff;
}
#react {
   color: #02d3fe;
   }

/*foto de perfil */

#perfil {
  border-radius: 80px;
  border: solid #9a51b1 2px;
}

#perfil:hover {
  transform: scale(1.05);
}

/* sobre Mi */

#aboutme {
  margin-top: 30px;
}
.box2 {
  display: flex;
}
.sobremi {
  margin: 3px;
  padding-left: 5px;
  border-left: solid 3px;
  border-image: linear-gradient(to bottom, #000000, #ffffff00) 1 99%;
  width: 70%;
}
.titulosobremi {
  color: blue;
}
